/* Custom CSS */
.slider {
    margin-top: 50px;
}

.products {
    margin-top: 50px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

footer ul {
    list-style: none;
    padding-left: 0;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

footer ul li a:hover {
    color: #ccc;
}
